<header>
  <div class="container">
    <div class="menu">
      <a href=""><img src="/img/EN white.png" alt="" width="64" /></a>
      <nav>
        <ul class="navigation">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/partials/vocabulary.html">Vocabulary</a></li>
          <li><a href="/partials/grammar.html">Grammar</a></li>
          <li><a href="/partials/makeasentencies.html">Makeasentencies</a></li>
        </ul>
      </nav>
      <div>
        <select name="typeoflearning" id="typeoflearning">
          <option value="1">Заучивание</option>
          <option value="2">Чтение</option>
          <option value="3">Правописание</option>
        </select>
      </div>
    </div>
  </div>
</header>
