<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <load src="/partials/header.html" />
    <main>
      <section>
        <div class="container">
          <h1>Service make a sentencies</h1>
          <form action="">
            <label for="word">Word</label><br />
            <input type="text" name="word" placeholder="Input word" />
            <button type="submit">Искать</button>
          </form>

          <div>Answer</div>
          <div class="answer">Sentencies using word</div>
        </div>
      </section>
    </main>
    <footer><a href="https://sinonim.org/">https://sinonim.org/</a></footer>
  </body>
</html>
